@model IEnumerable<BE_S6_L1.Models.Studente>

<div class="list-group">
    @foreach (var item in Model)
    {
        <button type="button" class="list-group-item list-group-item-action student-item" data-id="@item.Id">
            <div class="d-flex justify-content-between">
                <div>
                    <strong>@item.Cognome @item.Nome</strong>
                </div>
                <div class="text-muted">
                    @item.Email
                </div>
            </div>
        </button>
    }
</div>
